*~
.pc
MANIFEST
build
*.swo
twistd.pid
*.pyc
*.swp
etc/cardstories/twisted/plugins/dropin.cache
static/cardstories.zip
loic
*.orig
*.rej
_trial_temp*
*,cover
.coverage
website/local_settings.py
*.log
log/*
