{% extends "base.html" %}

{% block title %}Card Stories (Card Game) - A Creative Game of Imagination{% endblock %}

{% block head_script %}
  {{ block.super }}
  <script type="text/javascript" src="/static/js/jquery.owa.js"></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <style type="text/css">
    body { background: #aca06c url(/static/css/images/bg-header.gif) repeat-x; }
    #extra-cards { background: transparent url(/static/css/images/bg-header-inn.gif) no-repeat 50% 0; padding-top: 12px; }
    #logo img { display: block; margin: 0 auto 12px; }
    #cards-presentation { width: 930px; margin: 55px auto; }
    #cards-presentation img { float: left; }
    #cards-price { margin-top: 30px; }
    #card-imgs { position: relative; }
    #buy-form { position: absolute; width: 240px; height: 132px; top: 245px; left: 490px; background-image: url(/static/css/images/extra-cards-click-here.png); background-repeat: no-repeat; }
    #buy-form form { position: absolute; top: 71px; left: 29px; }
    #please-log-in { font-size: 1.5em; position: absolute; top: 290px; left: 450px; }
  </style>
{% endblock %}

{% block content %}
  <div id="extra-cards">
    <div id="logo">
      <a href="/"><img src="/static/css/images/logo.png" alt="CardStories Logo" /></a>
    </div>
    {% block main %}{% endblock %}
  </div>
{% endblock %}

{% block footer %}{% endblock %}
