{% extends "base.html" %}
{% load facebook %}
{% load append_mtime %}

{% block title %}Card Stories (Card Game) - A Creative Game of Imagination{% endblock %}

{% block head_script %}{{ block.super }}
  <script type="text/javascript" src="/static/js/jquery.owa.js"></script>
  <script type="text/javascript" src="/static/js/jquery.metadata.js"></script>
  <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/static/js/jquery.jqDock.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.placeholder-1.0.1.js"></script>
  <script type="text/javascript" src="/static/js/jquery.spritely-0.5.js"></script>
  <script type="text/javascript" src="/static/js/jquery.limit-1.2.source.js"></script>
  <script type="text/javascript" src="/static/js/soundmanager2-nodebug-jsmin.js"></script>
  <script type="text/javascript" src="/static/js/jquery.history.js"></script>
  <script type="text/javascript" src="{% append_mtime '/static/js/jquery.cardstories.js' %}"></script>
  <script type="text/javascript" src="{% append_mtime '/static/js/jquery.cardstories.table.js' %}"></script>
  <script type="text/javascript" src="{% append_mtime '/static/js/jquery.cardstories.tabs.js' %}"></script>
  <script type="text/javascript" src="{% append_mtime '/static/js/jquery.cardstories.audio.js' %}"></script>
  <script type="text/javascript" src="{% append_mtime '/static/js/jquery.cardstories.chat.js' %}"></script>
  <script type="text/javascript" src="/static/js/supplant.js"></script>
  <script type="text/javascript" src="/static/jscrollpane/jquery.jscrollpane.js"></script>
  <script type="text/javascript" src="/static/test/skin.js"></script>
{% endblock %}

{% block stylesheets %}{{ block.super }}
  <link rel="stylesheet" href="{% append_mtime '/static/css/all.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% append_mtime '/static/css/images.css' %}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% append_mtime '/static/css/credits.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
  <div id="fb-root"></div>
  <div id="header">
    <div class="frame">
      <div class="holder">
        <div class="row">
          <div class="like">
            <div><g:plusone size="medium" href="http://cardstories.org"></g:plusone></div>
            <div><div class="fb-like" data-send="false" data-layout="button_count" data-width="75" data-show-faces="false"></div></div>
          </div>
        </div>
        <div class="container">
          <div class="cardstories" data-sounds='[{"id":"ring","url":"/static/audio/ring.mp3","volume":25}, {"id":"pop","url":"/static/audio/pop.mp3","volume":25}, {"id":"join","url":"/static/audio/join.mp3","volume":25}, {"id":"score_lost","url":"/static/audio/lost.mp3","volume":25}, {"id":"score_won","url":"/static/audio/won.mp3","volume":25}, {"id":"score_xylophone","url":"/static/audio/xylophone.mp3","volume":25}, {"id":"score_pinball","url":"/static/audio/pinball.mp3","volume":25}, {"id":"score_bell","url":"/static/audio/bell.mp3","volume":25}, {"id":"score_echo","url":"/static/audio/echo.mp3","volume":25}, {"id":"applause","url":"/static/audio/applause.mp3","volume":25}, {"id":"fireworks","url":"/static/audio/fireworks.mp3","volume":25}, {"id":"bgm","url":"/static/audio/bgm.mp3","volume":50}]'></div>
        </div>
      </div>
      <div class="box"><br /><br /></div>
    </div>
  </div>
{% endblock %}

{% block body_script %}{{ block.super }}
<script type="text/javascript">

{% if owa_enable %}
// Initialize Open Web Analytics
$('.cardstories').owa('{{ owa_url }}', '{{ owa_site_id }}', true);
$('.cardstories').owa_subscribe('active.cardstories', '?skin=');
{% endif %}

// Path to soundManager SWF files.
soundManager.url = '/static/audio/';
// Prefer HTML5 audio to flash, where available.
soundManager.useHTML5Audio = true;

// Initialize Cardstories
$.get("/static/cardstories.html", function(data) {
  $('.cardstories').html(data);
  var skin = $.cardstories.url_param('skin');
  if (skin !== null) {
    $.cardstories.skin(skin, $('.cardstories'));
  } else {
    $('.cardstories').cardstories({{ player_id }}, $.cardstories.url_param('game_id'), '{% url website.cardstories.views.welcome %}', {% if create %}true{% else %}false{% endif %});
  }
});
</script>
{% endblock %}
