{% extends "cardstories/extra_cards_base.html" %}

{% block main %}
<div class="seo" style="display:none;">
  <h1 class="hidden">Get extra cards!</h1>
  <p>Buy a pack of extra cards for {{ price }}.</p>
</div>

<div id="cards-presentation">
  <img id="cards-price" src="/static/css/images/extra-cards-star-price.png" alt="Buy 10 exclusive cards for {{ price }}." />
  <div id="card-imgs">
    <img src="/static/css/images/extra-cards-pack.png" alt="Exclusive cards" />
    {% if form %}
      <div id="buy-form">
        {% if use_sandbox %}
          {{ form.sandbox }}
        {% else %}
          {{ form.render }}
        {% endif %}
      </div>
    {% else %}
      <div id="buy-problem">
        {% ifequal problem 'ANONYMOUS' %}
          Please <a href="/">log in</a> to buy the cards.
        {% endifequal %}
        {% ifequal problem 'ALREADY_BOUGHT' %}
          You already bought the cards!<br/>
          Thanks but we can't let you buy the same pack again :)
        {% endifequal %}
      </div>
    {% endif %}
  </div>
  <br style="clear:both;"/>
</div>
{% endblock %}
