body {
    background-color: #8697A6;
}

.cardstories { 
    width: 1024px; 
    height: 768px; 
    position: absolute;
    left: 50%;
    margin-left: -512px; 
}

.cardstories { 
    background: #fff url('images/background.jpg') repeat-x left top;
}

.cardstories .cardstories_logo { 
    background-repeat: no-repeat;
    background-image: url('images/logo.png');
    position: absolute;
    left: 419px;
    top: 2%;
    width: 189px;
    height: 131px;
}

.cardstories .cardstories_line { 
    background: transparent url('images/background_line.png') repeat-x left top;
    position: absolute;
    height: 40px;
    width: 100%;
}

.cardstories .cardstories_line_top { 
    left: 0px;
    top: 150px;
}

.cardstories .cardstories_line_bottom { 
    left: 0px;
    bottom: 5%;
}

.cardstories .cardstories_counter { 
    position: absolute;
    height: 45px;
    width: 81px;
    z-index: 1;
    right: 5%;
    top: 75px;
}

/* Change cursor to treat buttons as links */
.cardstories_card, .cardstories_submit, .cardstories_start_story, .cardstories_invite_friends, .cardstories_ready {
    cursor: pointer;
}

.cardstories_lobby_sentence {
    cursor: pointer;
    text-decoration: underline;
}

/* state where a sentence is displayed below the top line */

.cardstories .cardstories_sentence_container {
    position: relative;
    top: 30%;
    left: 0px;
}

.cardstories .cardstories_sentence_container > div {
    line-height: 28px; /* brace image size */
    text-align: center;
    height: 28px;
}

.cardstories .cardstories_sentence_container > div > div {
    display: inline-block;
    vertical-align: middle;
}

.cardstories .cardstories_brace {
    width: 12px;
    height: 28px;
}

.cardstories .cardstories_sentence {
    margin-left: 10px;
    margin-right: 10px;
}

.cardstories .cardstories_brace_open {
    background-image: url('images/brace_open.png');
}

.cardstories .cardstories_brace_close {
    background-image: url('images/brace_close.png');
}

/* displaying a deck of cards */

.cardstories_cards_hand .cardstories_card_foreground,
.cardstories_cards_hand .cardstories_card_background {
    position:absolute; 
    top:0; 
    left:0; 
    height:100%;
}

.cardstories_cards_hand .cardstories_card_label {
    position:absolute;
    top:-25px;
    font-weight: bold; 
    font-size: 20px; 
    white-space: nowrap; 
    color: #000000;
    text-decoration: none;
}

.cardstories_cards_hand .cardstories_card_template {
    display: none;
}

.cardstories_card_confirm { 
    display: none;
}

/* state create : pick a card */

.cardstories .cardstories_create .cardstories_pick_card .cardstories_cards { position: absolute; left: 0px; bottom: 15%; display: none; }

.cardstories .cardstories_create .cardstories_bubble_pick_a_card { 
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 108px;
    background: transparent url('images/pick_a_card.png') no-repeat left top;
    height: 92px;
    width: 287px;
}

.cardstories .cardstories_create .cardstories_pick_card .cardstories_counter { 
    background: transparent url('images/counter_1_of_4.png') no-repeat left top;
}

/* state create : write a sentence */

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_counter { 
    background: transparent url('images/counter_2_of_4.png') no-repeat left top;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_card {
    position: absolute;
    left: 2%;
    top: 210px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: top left;
    width: 333px;
    height: 451px;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_write {
    position: absolute;
    background: transparent url('images/write_sentence.png') no-repeat left top;
    right: 7%;
    top: 250px;
    height: 352px;
    width: 544px;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_write > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_sentence {
    position: absolute;
    top: 35%;
    left: 5%;
    border: 0px;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_submit {
    position: absolute;
    background: transparent url('images/next.png') no-repeat left top;
    top: 50%;
    right: 5%;
    height: 61px;
    width: 88px;
    z-index: 1;
}

/* lobby */

.cardstories .cardstories_lobby .cardstories_tab {
    position: absolute;
    top: 230px;
    left: 130px;
    height: 81px;
    width: 208px;
}

.cardstories .cardstories_lobby .cardstories_template {
     display: none;
}

.cardstories .cardstories_lobby .cardstories_lobby_owner {
    background: transparent url('images/lobby_owner.png') no-repeat left top;
    width: 95px;
    height: 33px;
}
    
.cardstories .cardstories_lobby .cardstories_lobby_player {
    background: transparent url('images/lobby_player.png') no-repeat left top;
    width: 85px;
    height: 33px;
}
    
/* lobby for in progress games */

.cardstories .cardstories_lobby .cardstories_in_progress {
    background: transparent url('images/in_progress_background.png') no-repeat 100px 260px;
}

.cardstories .cardstories_lobby .cardstories_in_progress .cardstories_tab_in_progress {
    background: transparent url('images/in_progress.png') no-repeat left top;
}

.cardstories .cardstories_lobby .cardstories_in_progress .cardstories_start_story {
    position: absolute;
    background: transparent url('images/start_story.png') no-repeat left top;
    top: 215px;
    right: 130px;
    height: 89px;
    width: 140px;
}

.cardstories .cardstories_lobby .cardstories_in_progress .cadrstories_games_display {
    position: relative;
    width: 800px;
    height: 300px;
    left: 110px;
    top: 310px;
}

/* lobby for finished games */

.cardstories .cardstories_lobby .cardstories_finished {
    background: transparent url('images/finished_background.png') no-repeat 100px 300px;
}

.cardstories .cardstories_lobby .cardstories_finished .cardstories_tab_finished {
    background: transparent url('images/finished.png') no-repeat left top;
}

.cardstories .cardstories_lobby .cardstories_finished .cardstories_start_story {
    position: absolute;
    background: transparent url('images/start_story.png') no-repeat left top;
    top: 330px;
    right: 150px;
    height: 89px;
    width: 140px;
}

.cardstories .cardstories_lobby .cardstories_finished .cardstories_invite {
    position: absolute;
    background: transparent url('images/lobby_invite.png') no-repeat left top;
    top: 480px;
    right: 150px;
    height: 117px;
    width: 126px;
}

.cardstories .cardstories_lobby .cardstories_finished .cadrstories_games_display {
    position: relative;
    width: 470px;
    height: 300px;
    left: 110px;
    top: 310px;
}

/* advertise the game and invite players */

.cardstories .cardstories_advertise .cardstories_frame {
    position: absolute;
    background: transparent url('images/invite_frame.png') no-repeat left top;
    top: 30%;
    left: 10%;
    height: 379px;
    width: 833px;
}

.cardstories .cardstories_advertise .cardstories_submit {
    position: absolute;
    background: transparent url('images/send_invitations.png') no-repeat left top;
    bottom: 15%;
    left: 5%;
    height: 69px;
    width: 89px;
}

.cardstories .cardstories_advertise .cardstories_text {
    position: absolute;
    top: 40%;
    left: 15%;
    border: 0px;
}

.cardstories .cardstories_advertise .cardstories_counter { 
    background: transparent url('images/counter_3_of_4.png') no-repeat left top;
}

/* state invitation : owner */

.cardstories .cardstories_invitation .cardstories_owner .cardstories_pending_invitations {
    position: absolute;
    background: transparent url('images/pending_invitations.png') no-repeat left top;
    top: 25%;
    left: 1%;
    height: 530px;
    width: 1000px;
    z-index: 1;
}

.cardstories .cardstories_invitation .cardstories_owner .cardstories_invite_friends {
    position: absolute;
    background: transparent url('images/invite_friends_button.png') no-repeat left top;
    top: 58%;
    left: 83%;
    height: 121px;
    width: 129px;
    z-index: 2;
}

.cardstories .cardstories_invitation .cardstories_owner .cardstories_voting {
    position: absolute;
    background: transparent url('images/to_vote.png') no-repeat left top;
    bottom: 10%;
    right: 5%;
    height: 76px;
    width: 109px;
    z-index: 3;
}

.cardstories .cardstories_invitation .cardstories_owner .cardstories_cards {
    position: absolute;
    bottom: 20%;
    left: 21%;
    z-index: 1;
    display: none;
}

/* state invitation, player point of view : pick a card */

.cardstories .cardstories_invitation .cardstories_bubble_player_pick_a_card { 
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 118px;
    background: transparent url('images/player_pick_a_card.png') no-repeat left top;
    height: 95px;
    width: 421px;
}

/* state vote, player point of view : vote for a card */

.cardstories .cardstories_vote .cardstories_bubble_player_vote_for_a_card { 
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 95px;
    background: transparent url('images/player_vote_for_a_card.png') no-repeat left top;
    height: 122px;
    width: 461px;
}

/* state invitation and vote, player point of view : chose a card */

.cardstories .cardstories_mask_chose_a_card {
    position: absolute;
    top: 25%;
    right: 0%;
    background: transparent url('images/mask_chose_a_card.png') no-repeat left top;
    height: 223px;
    width: 319px;
}

.cardstories .cardstories_invitation .cardstories_pick .cardstories_cards,
.cardstories .cardstories_vote .cardstories_voter .cardstories_cards {
    position: absolute;
    bottom: 15%;
    left: 30px;
    z-index: 1;
    display: none;
}

/* state complete */

.cardstories .cardstories_complete {
    background: transparent url('images/vote_wall.png') no-repeat 60px bottom;
}

.cardstories .cardstories_complete .cardstories_votes {
    margin-top: 25%;
    margin-left: 20%;
}

.cardstories .cardstories_complete .cardstories_column {
    width: 120px;
    display: inline-block;
    vertical-align: top;
}

.cardstories .cardstories_complete .cardstories_column .cardstories_card {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    width: 100px;
    height: 135px;
    margin-bottom: 5px;
}

.cardstories .cardstories_complete .cardstories_column .cardstories_player_name {
    background: transparent url('images/complete_other_card_bubble.png') no-repeat center center;
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}

.cardstories .cardstories_complete .cardstories_column .cardstories_voter_name {
    background: transparent url('images/complete_player.png') no-repeat center center;
    height: 43px;
    margin-bottom: 5px;
}

.cardstories_complete .cardstories_player_name.cardstories_win {
    border: 3px solid #567300;
}

.cardstories_vote .cardstories_picked { border: 3px solid #567300; }
.cardstories_vote .cardstories_voted { border: 3px solid #ff0000; }

/* owner view during vote */

.cardstories .cardstories_vote .cardstories_owner {
    background: transparent url('images/vote_wall.png') no-repeat 60px bottom;
}

.cardstories .cardstories_vote .cardstories_owner .cardstories_votes {
    margin-top: 25%;
    margin-left: 20%;
}

.cardstories .cardstories_vote .cardstories_owner .cardstories_column {
    width: 120px;
    display: inline-block;
    vertical-align: top;
}

.cardstories .cardstories_vote .cardstories_owner .cardstories_column .cardstories_card {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    width: 100px;
    height: 135px;
    margin-bottom: 5px;
}

.cardstories .cardstories_vote .cardstories_owner .cardstories_column .cardstories_player_name {
    background: transparent url('images/complete_other_card_bubble.png') no-repeat center center;
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}

.cardstories .cardstories_vote .cardstories_owner .cardstories_column .cardstories_voter_name {
    background: transparent url('images/complete_player.png') no-repeat center center;
    height: 43px;
    margin-bottom: 5px;
}

.cardstories .cardstories_subscribe, 
.cardstories .cardstories_lobby,
.cardstories .cardstories_lobby > div,
.cardstories .cardstories_create,
.cardstories .cardstories_create > div, 
.cardstories .cardstories_advertise,
.cardstories .cardstories_invitation,
.cardstories .cardstories_invitation > div,
.cardstories .cardstories_vote,
.cardstories .cardstories_vote > div,
.cardstories .cardstories_complete 
 { 
     width: 100%;
     height: 100%; 
 }

.cardstories .cardstories_subscribe, 
.cardstories .cardstories_lobby,
.cardstories .cardstories_lobby > div,
.cardstories .cardstories_create,
.cardstories .cardstories_create > div,
.cardstories .cardstories_advertise,
.cardstories .cardstories_invitation,
.cardstories .cardstories_invitation > div,
.cardstories .cardstories_vote,
.cardstories .cardstories_vote > div,
.cardstories .cardstories_complete 
 { 
     display: none;
 }

.cardstories div.cardstories_active { display: block; }
