.cardstories { width: 1024px; height: 768px; position: relative; }

.cardstories { 
    background: #fff url('images/background.jpg') repeat-x left top;
}

.cardstories .cardstories_logo { 
    background-repeat: no-repeat;
    background-image: url('images/logo.png');
    position: absolute;
    left: 419px;
    top: 2%;
    width: 189px;
    height: 131px;
}

.cardstories .cardstories_line { 
    background: transparent url('images/background_line.png') repeat-x left top;
    position: absolute;
    height: 40px;
    width: 100%;
}

.cardstories .cardstories_line_top { 
    left: 0px;
    top: 150px;
}

.cardstories .cardstories_line_bottom { 
    left: 0px;
    bottom: 5%;
}

.cardstories .cardstories_counter { 
    position: absolute;
    height: 45px;
    width: 81px;
    z-index: 1;
    right: 5%;
    top: 75px;
}

.cardstories .cardstories_bubble { 
    position: absolute;
    z-index: 1;
    left: 5%;
    top: 118px;
}

/* state create : pick a card */

.cardstories .cardstories_create .cardstories_pick_card .cardstories_cards { position: absolute; left: 0px; bottom: 15%; }

.cardstories .cardstories_create .cardstories_bubble_pick_a_card { 
    background: transparent url('images/pick_a_card.png') no-repeat left top;
    height: 92px;
    width: 287px;
}

.cardstories .cardstories_create .cardstories_pick_card .cardstories_counter { 
    background: transparent url('images/counter_1_of_4.png') no-repeat left top;
}

/* state create : write a sentence */

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_counter { 
    background: transparent url('images/counter_2_of_4.png') no-repeat left top;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_card {
    position: absolute;
    left: 2%;
    top: 210px;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_write {
    position: absolute;
    background: transparent url('images/write_sentence.png') no-repeat left top;
    right: 7%;
    top: 250px;
    height: 352px;
    width: 544px;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_write > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_sentence {
    position: absolute;
    top: 35%;
    left: 5%;
    border: 0px;
}

.cardstories .cardstories_create .cardstories_write_sentence .cardstories_submit {
    position: absolute;
    background: transparent url('images/next.png') no-repeat left top;
    top: 50%;
    right: 5%;
    height: 61px;
    width: 88px;
    z-index: 1;
}

/* state invitation : owner */

.cardstories .cardstories_invitation .cardstories_owner .cardstories_pending_invitations {
    position: absolute;
    background: transparent url('images/pending_invitations.png') no-repeat left top;
    top: 25%;
    left: 5%;
    height: 424px;
    width: 794px;
    z-index: 1;
}

.cardstories .cardstories_invitation .cardstories_owner .cardstories_voting {
    position: absolute;
    background: transparent url('images/to_vote.png') no-repeat left top;
    bottom: 10%;
    right: 5%;
    height: 76px;
    width: 109px;
    z-index: 1;
}

.cardstories .cardstories_invitation .cardstories_owner .cardstories_cards {
    position: absolute;
    bottom: 20%;
    left: 25%;
    z-index: 1;
}

/* state invitation : pick a card */

.cardstories .cardstories_invitation .cardstories_bubble_player_pick_a_card { 
    background: transparent url('images/player_pick_a_card.png') no-repeat left top;
    height: 95px;
    width: 421px;
}

.cardstories .cardstories_invitation .cardstories_pick .cardstories_cards {
    position: absolute;
    bottom: 12%;
    left: 3%;
    z-index: 1;
}

.cardstories_card { background-repeat: no-repeat; width: 333px; height: 451px; }
.cardstories_vote .cardstories_picked { border: 3px solid #567300; }
.cardstories_vote .cardstories_voted { border: 3px solid #ff0000; }
.cardstories_complete .cardstories_player.cardstories_win { border: 3px solid #567300; }

.cardstories .cardstories_subscribe, 
.cardstories .cardstories_create,
.cardstories .cardstories_create > div, 
.cardstories .cardstories_invitation,
.cardstories .cardstories_invitation > div,
.cardstories .cardstories_vote,
.cardstories .cardstories_vote > div,
.cardstories .cardstories_complete 
 { 
     width: 100%;
     height: 100%; 
 }

.cardstories .cardstories_subscribe, 
.cardstories .cardstories_create,
.cardstories .cardstories_create > div,
.cardstories .cardstories_invitation,
.cardstories .cardstories_invitation > div,
.cardstories .cardstories_vote,
.cardstories .cardstories_vote > div,
.cardstories .cardstories_complete 
 { 
     display: none;
 }

.cardstories div.cardstories_active { display: block; }
