.cardstories_no_card { background-image:url('small/card-back.png'); }
.cardstories_card1 { background-image:url('small/card01.png'); }
.cardstories_card2 { background-image:url('small/card02.png'); }
.cardstories_card3 { background-image:url('small/card03.png'); }
.cardstories_card4 { background-image:url('small/card04.png'); }
.cardstories_card5 { background-image:url('small/card05.png'); }
.cardstories_card6 { background-image:url('small/card06.png'); }
.cardstories_card7 { background-image:url('small/card07.png'); }
.cardstories_card8 { background-image:url('small/card08.png'); }
.cardstories_card9 { background-image:url('small/card09.png'); }
.cardstories_card10 { background-image:url('small/card010.png'); }
.cardstories_card11 { background-image:url('small/card011.png'); }
.cardstories_card12 { background-image:url('small/card012.png'); }
.cardstories_card13 { background-image:url('small/card013.png'); }
.cardstories_card14 { background-image:url('small/card014.png'); }
.cardstories_card15 { background-image:url('small/card015.png'); }
.cardstories_card16 { background-image:url('small/card016.png'); }
.cardstories_card17 { background-image:url('small/card017.png'); }
.cardstories_card18 { background-image:url('small/card018.png'); }
.cardstories_card19 { background-image:url('small/card019.png'); }
.cardstories_card20 { background-image:url('small/card020.png'); }
.cardstories_card21 { background-image:url('small/card021.png'); }
.cardstories_card22 { background-image:url('small/card022.png'); }
.cardstories_card23 { background-image:url('small/card023.png'); }
.cardstories_card24 { background-image:url('small/card024.png'); }
.cardstories_card25 { background-image:url('small/card025.png'); }
.cardstories_card26 { background-image:url('small/card026.png'); }
.cardstories_card27 { background-image:url('small/card027.png'); }
.cardstories_card28 { background-image:url('small/card028.png'); }
.cardstories_card29 { background-image:url('small/card029.png'); }
.cardstories_card30 { background-image:url('small/card030.png'); }
.cardstories_card31 { background-image:url('small/card031.png'); }
.cardstories_card32 { background-image:url('small/card032.png'); }
.cardstories_card33 { background-image:url('small/card033.png'); }
.cardstories_card34 { background-image:url('small/card034.png'); }
.cardstories_card35 { background-image:url('small/card035.png'); }
.cardstories_card36 { background-image:url('small/card036.png'); }
