
.cardstories_no_complete_card { background-image:url('small/card-back.png'); }
.cardstories_complete_card1 { background-image:url('small/card01.png'); }
.cardstories_complete_card2 { background-image:url('small/card02.png'); }
.cardstories_complete_card3 { background-image:url('small/card03.png'); }
.cardstories_complete_card4 { background-image:url('small/card04.png'); }
.cardstories_complete_card5 { background-image:url('small/card05.png'); }
.cardstories_complete_card6 { background-image:url('small/card06.png'); }
.cardstories_complete_card7 { background-image:url('small/card07.png'); }
.cardstories_complete_card8 { background-image:url('small/card08.png'); }
.cardstories_complete_card9 { background-image:url('small/card09.png'); }
.cardstories_complete_card10 { background-image:url('small/card010.png'); }
.cardstories_complete_card11 { background-image:url('small/card011.png'); }
.cardstories_complete_card12 { background-image:url('small/card012.png'); }
.cardstories_complete_card13 { background-image:url('small/card013.png'); }
.cardstories_complete_card14 { background-image:url('small/card014.png'); }
.cardstories_complete_card15 { background-image:url('small/card015.png'); }
.cardstories_complete_card16 { background-image:url('small/card016.png'); }
.cardstories_complete_card17 { background-image:url('small/card017.png'); }
.cardstories_complete_card18 { background-image:url('small/card018.png'); }
.cardstories_complete_card19 { background-image:url('small/card019.png'); }
.cardstories_complete_card20 { background-image:url('small/card020.png'); }
.cardstories_complete_card21 { background-image:url('small/card021.png'); }
.cardstories_complete_card22 { background-image:url('small/card022.png'); }
.cardstories_complete_card23 { background-image:url('small/card023.png'); }
.cardstories_complete_card24 { background-image:url('small/card024.png'); }
.cardstories_complete_card25 { background-image:url('small/card025.png'); }
.cardstories_complete_card26 { background-image:url('small/card026.png'); }
.cardstories_complete_card27 { background-image:url('small/card027.png'); }
.cardstories_complete_card28 { background-image:url('small/card028.png'); }
.cardstories_complete_card29 { background-image:url('small/card029.png'); }
.cardstories_complete_card30 { background-image:url('small/card030.png'); }
.cardstories_complete_card31 { background-image:url('small/card031.png'); }
.cardstories_complete_card32 { background-image:url('small/card032.png'); }
.cardstories_complete_card33 { background-image:url('small/card033.png'); }
.cardstories_complete_card34 { background-image:url('small/card034.png'); }
.cardstories_complete_card35 { background-image:url('small/card035.png'); }
.cardstories_complete_card36 { background-image:url('small/card036.png'); }

.cardstories_wait_card1 { background-image:url('medium/card01.png'); }
.cardstories_wait_card2 { background-image:url('medium/card02.png'); }
.cardstories_wait_card3 { background-image:url('medium/card03.png'); }
.cardstories_wait_card4 { background-image:url('medium/card04.png'); }
.cardstories_wait_card5 { background-image:url('medium/card05.png'); }
.cardstories_wait_card6 { background-image:url('medium/card06.png'); }
.cardstories_wait_card7 { background-image:url('medium/card07.png'); }
.cardstories_wait_card8 { background-image:url('medium/card08.png'); }
.cardstories_wait_card9 { background-image:url('medium/card09.png'); }
.cardstories_wait_card10 { background-image:url('medium/card010.png'); }
.cardstories_wait_card11 { background-image:url('medium/card011.png'); }
.cardstories_wait_card12 { background-image:url('medium/card012.png'); }
.cardstories_wait_card13 { background-image:url('medium/card013.png'); }
.cardstories_wait_card14 { background-image:url('medium/card014.png'); }
.cardstories_wait_card15 { background-image:url('medium/card015.png'); }
.cardstories_wait_card16 { background-image:url('medium/card016.png'); }
.cardstories_wait_card17 { background-image:url('medium/card017.png'); }
.cardstories_wait_card18 { background-image:url('medium/card018.png'); }
.cardstories_wait_card19 { background-image:url('medium/card019.png'); }
.cardstories_wait_card20 { background-image:url('medium/card020.png'); }
.cardstories_wait_card21 { background-image:url('medium/card021.png'); }
.cardstories_wait_card22 { background-image:url('medium/card022.png'); }
.cardstories_wait_card23 { background-image:url('medium/card023.png'); }
.cardstories_wait_card24 { background-image:url('medium/card024.png'); }
.cardstories_wait_card25 { background-image:url('medium/card025.png'); }
.cardstories_wait_card26 { background-image:url('medium/card026.png'); }
.cardstories_wait_card27 { background-image:url('medium/card027.png'); }
.cardstories_wait_card28 { background-image:url('medium/card028.png'); }
.cardstories_wait_card29 { background-image:url('medium/card029.png'); }
.cardstories_wait_card30 { background-image:url('medium/card030.png'); }
.cardstories_wait_card31 { background-image:url('medium/card031.png'); }
.cardstories_wait_card32 { background-image:url('medium/card032.png'); }
.cardstories_wait_card33 { background-image:url('medium/card033.png'); }
.cardstories_wait_card34 { background-image:url('medium/card034.png'); }
.cardstories_wait_card35 { background-image:url('medium/card035.png'); }
.cardstories_wait_card36 { background-image:url('medium/card036.png'); }

.cardstories_no_card { background-image:url('images/card-back.png'); }
.cardstories_card1 { background-image:url('images/card01.png'); }
.cardstories_card2 { background-image:url('images/card02.png'); }
.cardstories_card3 { background-image:url('images/card03.png'); }
.cardstories_card4 { background-image:url('images/card04.png'); }
.cardstories_card5 { background-image:url('images/card05.png'); }
.cardstories_card6 { background-image:url('images/card06.png'); }
.cardstories_card7 { background-image:url('images/card07.png'); }
.cardstories_card8 { background-image:url('images/card08.png'); }
.cardstories_card9 { background-image:url('images/card09.png'); }
.cardstories_card10 { background-image:url('images/card010.png'); }
.cardstories_card11 { background-image:url('images/card011.png'); }
.cardstories_card12 { background-image:url('images/card012.png'); }
.cardstories_card13 { background-image:url('images/card013.png'); }
.cardstories_card14 { background-image:url('images/card014.png'); }
.cardstories_card15 { background-image:url('images/card015.png'); }
.cardstories_card16 { background-image:url('images/card016.png'); }
.cardstories_card17 { background-image:url('images/card017.png'); }
.cardstories_card18 { background-image:url('images/card018.png'); }
.cardstories_card19 { background-image:url('images/card019.png'); }
.cardstories_card20 { background-image:url('images/card020.png'); }
.cardstories_card21 { background-image:url('images/card021.png'); }
.cardstories_card22 { background-image:url('images/card022.png'); }
.cardstories_card23 { background-image:url('images/card023.png'); }
.cardstories_card24 { background-image:url('images/card024.png'); }
.cardstories_card25 { background-image:url('images/card025.png'); }
.cardstories_card26 { background-image:url('images/card026.png'); }
.cardstories_card27 { background-image:url('images/card027.png'); }
.cardstories_card28 { background-image:url('images/card028.png'); }
.cardstories_card29 { background-image:url('images/card029.png'); }
.cardstories_card30 { background-image:url('images/card030.png'); }
.cardstories_card31 { background-image:url('images/card031.png'); }
.cardstories_card32 { background-image:url('images/card032.png'); }
.cardstories_card33 { background-image:url('images/card033.png'); }
.cardstories_card34 { background-image:url('images/card034.png'); }
.cardstories_card35 { background-image:url('images/card035.png'); }
.cardstories_card36 { background-image:url('images/card036.png'); }
