{% extends "cardstories/welcome.html" %}

{% block title %}Password reset confirmation{% endblock %}

{% block box %}
  <div class="box">
    <div class="inn">
      <div class="col01">&nbsp;</div>
      <div class="col01">
        {% if validlink %}
        <div class="coltitle">
          <h2>Change Password</h2>
          <div class="errors">
            {{ form.new_password1.errors }}
            {{ form.new_password2.errors }}
          </div>
        </div>
        <h3>Please enter your new password twice:</h3>
        <form action="" method="post" class="registration">{% csrf_token %}
          <fieldset>
            <div class="row">
              <input id="id_new_password1" type="password" class="password1{% if form.new_password1.errors %} error{% endif %}" name="new_password1" />
              <input id="id_new_password1_clear" type="text" class="password1 clear" value="Password" name="password1_clear" />
              <input id="id_new_password2" type="password" class="password2{% if form.new_password2.errors %} error{% endif %}" name="new_password2" />
              <input id="id_new_password2_clear" type="text" class="password2 clear" value="Confirm password" name="password2_clear" />
            </div>
            <div class="row">
              <input type="submit" value="RESET PASSWORD" class="button" />
            </div>
          </fieldset>  
        </form>
        {% else %}
        <div class="coltitle">
          <h2>Invalid link</h2>
        </div>
        <h3>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h3>
        {% endif %}
      </div>
      <div class="col02"></div>
    </div>  
  </div>
{% endblock %}
