{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
  <div class="cardstories_extras cardstories_active">
    <div class="cardstories_subscribe cardstories_active">
      <div class="cardstories_logo_welcome"></div>
      <a href="http://farsides.com/" target="_blank"><div class="cardstories_logo_farsides"></div></a>
      <div class="cardstories_bubble"></div>
      <div class="cardstories_password_form">
        <div class="cardstories_password_form_title">Your password has been set.  You may go ahead and <a href="/">log in</a> now.</div>
      </div>
    </div>
  </div>
{% endblock %}
