{% extends "cardstories/welcome.html" %}

{% block title %}Password reset{% endblock %}

{% block box %}
  <div class="box">
    <div class="inn">
      <div class="col01">&nbsp;</div>
      <div class="col01">
        <div class="coltitle">
          <h2>Forgot Your Password?</h2>
          <div class="errors">
            {{ form.email.errors }}
          </div>
        </div>
        <h3>Enter your email below and we will send instructions for setting a new one. Easy like that!</h3>
        <form action="" method="post">{% csrf_token %}
          <fieldset>
            <div class="row">
              <input id="id_email" type="text" name="email" maxlength="75" value="your@email.com" class="username default{% if form.email.errors %} error{% endif %}" />
            </div>
            <div class="row">
              <input type="submit" value="Reset password" class="button" />
            </div>
          </fieldset>  
        </form>
      </div>
      <div class="col02"></div>
    </div>  
  </div>
{% endblock %}
